/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f3f4f6;
     background-image: url('../assets/home1.avif');
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/home1.avif') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Login Box */
.login-box {
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

/* Input Fields */
.input-box {
    margin-bottom: 20px;
    text-align: left;
}

.input-box label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #555;
}

.input-box input {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.input-box input:focus {
    border-color: #FF6347;
}

/* Login Button */
.login-btn {
    background-color: #FF6347;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.login-btn:hover {
    background-color: #FF4500;
}

/* Forgot Password Link */
.forgot-password {
    margin-top: 15px;
    font-size: 0.9rem;
}

.forgot-password a {
    color: #FF6347;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
